/***********************PanelManager**************************/

#layout {
	-fx-background: transparent;
}

/***********************OptionPanel**************************/

#optionPane {
	-fx-background-image: url('setting/s_background.png'); 
	-fx-background: transparent;
}

#CloseO{
	-fx-translate-y: 3;
	-fx-graphic: url('setting/base_close_button_in_act.png');
	-fx-background-color: transparent;
}

#CloseO:hover{
	-fx-graphic: url('setting/base_close_button_act.png');
}

#SliderO {
	-fx-translate-x: 2;
	-fx-translate-y: 28;
}

#SliderO .track {
	-fx-background-color: transparent;  
}

#SliderO .thumb{
	-fx-background-image: url('setting/s_ram_button.png');
    -fx-background-color: transparent;  
}

#ramLabel{
	-fx-translate-y: -8;
	-fx-translate-x: 2;
	-fx-font-size: 27;
	-fx-font-weight: bold;
}

#optionBox {
	-fx-translate-y: -151;
	-fx-translate-x: 82;
}

#optionBox .box{
    -fx-pref-height: 10;
    -fx-pref-width: 10;
    -fx-background-radius: 0;
    -fx-background-color: transparent;  

}

#optionBox .mark {
	-fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004l0.003,0.004L14.596,2.055z";
}

#optionBox:selected .mark {
	-fx-background-color: #C00808;
}


/***********************PanelLogin**************************/

#loginPanel {

	-fx-background-image: url('login/l_background.png'); 
	-fx-background: transparent;
}

#logoImg {
	-fx-translate-y: 60;
	-fx-translate-x: -25;
}

#textField {
	-fx-max-height: 32;
	-fx-min-height: 32;
	-fx-max-width: 210;
	-fx-min-width: 210;
	-fx-translate-y: -7;
	-fx-translate-x: 190;
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

#passwordField {
	-fx-max-height: 32;
	-fx-min-height: 32;
	-fx-max-width: 195;
	-fx-min-width: 195;
	-fx-translate-y: 44;
	-fx-translate-x: 190;
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

#loginButton {
	-fx-translate-y: 18;
	-fx-translate-x: 380;
	-fx-graphic: url('login/l_autch_act.png');
	-fx-background-color: transparent;
}

#loginButton:hover {
	-fx-graphic: url('login/l_autch_inact.png');
}

#loginButton:pressed {
	-fx-graphic: url('login/l_autch_press.png');
}

#quitButton {
	-fx-translate-y: 9;
	-fx-translate-x: -5;
	-fx-graphic: url('login/base_close_button_in_act.png');
	-fx-background-color: transparent;
}

#quitButton:hover {
	-fx-graphic: url('login/base_close_button_act.png');
}


#ramButton {
	-fx-translate-y: 9;
	-fx-translate-x: -40;
	-fx-graphic: url('login/base_setting_button_in_act.png');
	-fx-background-color: transparent;
}

#ramButton:hover {
	-fx-graphic: url('login/base_setting_button_act.png');
}

#hideButton {
	-fx-translate-y: 12;
	-fx-translate-x: -80;
	-fx-graphic: url('login/base_minimize_button_in_act.png');
	-fx-background-color: transparent;
}

#hideButton:hover {
	-fx-graphic: url('login/base_minimize_button_act.png');
}


#saveLabel {
	-fx-translate-y: 85;
	-fx-translate-x: 156;
	-fx-text-fill: #C00808;
	-fx-font-size: 15;
	-fx-font-weight: bold;
}

#forgetPassLabel {
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-translate-y: -85;
	-fx-translate-x: -140;
	-fx-underline: true;
}

#registerLabel {
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-underline: true;
	-fx-translate-x: 60;
	-fx-translate-y: -85;
}

#saveBox {
	-fx-translate-y: 85;
	-fx-translate-x: 131;
}

#saveBox .box{
    -fx-pref-height: 15;
    -fx-pref-width: 15;
    -fx-background-radius: 0;
    -fx-border-color: #BFBFC2;

}

#saveBox .mark {
	-fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004l0.003,0.004L14.596,2.055z";
}

#saveBox:selected .mark {
	-fx-background-color: #C00808;
}

/***********************HomePanel**************************/

#homePanel {
	-fx-background-image: url('personal/s_background.png'); 
	-fx-background: transparent;
}

#skinImg {
	-fx-translate-y: -60;
	-fx-translate-x: 230;
	-fx-opacity : 0.6;
}

#rankImg {
	-fx-translate-y: 130;
	-fx-translate-x: 20;
	-fx-background: transparent;
}

#nameLabel {
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-translate-y: 120;
	-fx-translate-x: 80;
}

#discLabel{
	-fx-text-fill: rgb(160,160,160,0.9);
	-fx-font-size: 14;
	-fx-translate-y: 150;
	-fx-translate-x: 80;
}

#discLabel:hover{
	-fx-text-fill: rgb(255,255,255,0.9);
}

#creditImg {
	-fx-translate-y: 230;
	-fx-translate-x: 40;
	-fx-background: transparent;
}

#moneyImg {
	-fx-translate-y: 265;
	-fx-translate-x: 40;
	-fx-background: transparent;
} 

#voteImg {
	-fx-translate-y: 300;
	-fx-translate-x: 40;
	-fx-background: transparent;
}

#creditLabel {
	-fx-translate-y: 230;
	-fx-translate-x: 80;
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-background: transparent;
}

#moneyLabel {
	-fx-translate-y: 265;
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-translate-x: 80;
	-fx-background: transparent;
} 

#voteLabel {
	-fx-translate-y: 300;
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-translate-x: 80;
	-fx-background: transparent;
}

#accountLink {
	-fx-translate-y: 190;
	-fx-translate-x: 30;
	-fx-font-weight: bold;
	-fx-font-size: 18;
	-fx-text-fill: linear-gradient(to bottom, #ce0017, #660002);
}

#quitButtonH {
	-fx-translate-y: 20;
	-fx-translate-x: -30;
	-fx-graphic: url('personal/base_close_button_in_act.png');
	-fx-background-color: transparent;
}

#quitButtonH:hover {
	-fx-graphic: url('personal/base_close_button_act.png');
}

#ramButtonH {
	-fx-translate-y: 20;
	-fx-translate-x: -80;
	-fx-graphic: url('personal/base_setting_button_in_act.png');
	-fx-background-color: transparent;
}

#ramButtonH:hover {
	-fx-graphic: url('personal/base_setting_button_act.png');
}

#hideButtonH {
	-fx-translate-y: 20;
	-fx-translate-x: -130;
	-fx-graphic: url('personal/base_minimize_button_in_act.png');
	-fx-background-color: transparent;
}

#hideButtonH:hover {
	-fx-graphic: url('personal/base_minimize_button_act.png');
}

#siteButtonH {
	-fx-translate-y: -137;
	-fx-translate-x: -20;
	-fx-graphic: url('personal/s_onix_inact.png');
	-fx-background-color: transparent;
}

#siteButtonH:hover {
	-fx-graphic: url('personal/s_onix_act.png');
}

#scrollpane {
	-fx-translate-y: 75;
	-fx-translate-x: -35;
  	-fx-background-color: transparent;
}

#scrollpane .scroll-bar:vertical {
 	-fx-background-color: transparent;
}







